absl-py==0.6.1
altgraph==0.16.1
appnope==0.1.0
backcall==0.1.0
boto3==1.9.100
botocore==1.12.100
certifi==2018.11.29
chardet==3.0.4
cloudpickle==0.6.1
crc16==0.1.1
cycler==0.10.0
dask==1.0.0
decorator==4.3.2
Deprecated==1.2.5
docutils==0.14
fbs==0.6.9
future==0.17.1
idna==2.7
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.13.2
jmespath==0.9.3
kiwisolver==1.0.1
lxml==4.6.2
macholib==1.11
matplotlib==3.0.2
modbus-tk==31.8017.5770
networkx==2.2
numpy==1.16.1
opencv-python==4.0.0.21
pandas==0.23.4
parso==0.3.4
peewee==3.8.2
pefile==2018.8.8
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.9
protobuf==3.1.0
ptyprocess==0.6.0
Pygments==2.3.1
PyInstaller==3.4
pymodbus==2.1.0
pyparsing==2.3.0
PyQt5==5.12
PyQt5-sip==4.19.14
pyserial==3.4
python-dateutil==2.8.0
pytz==2018.7
PyWavelets==1.0.1
requests==2.20.1
resources==0.0.1
s3transfer==0.2.0
scikit-image==0.14.1
scipy==1.1.0
seaborn==0.9.0
sip==4.19.8
six==1.12.0
toolz==0.9.0
traitlets==4.3.2
urllib3==1.24.1
virtualenv==16.4.3
wcwidth==0.1.7
wrapt==1.11.1
